@mixin particles($width, $height, $img) {
  width: $width;
  height: $height;
  background-image: url($img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js {
  @include particles(
    100%,
    180px,
    './../assets/pexels-benjamin-suter-3617500.jpg'
  );

  .particles-js-canvas-el {
    position: absolute;
    top: -30px;
    height: 210px !important;
    width: 100% !important;
  }
}

#particles-js2 {
  @include particles(
    95px,
    35px,
    './../assets/pexels-benjamin-suter-3617500-2.jpg'
  );

  border-radius: 25px;
  z-index: 999;

  .particles-js-canvas-el {
    position: relative;
    top: 0 !important;
    left: 0;
    height: 35px !important;
    width: 95px !important;
    border-radius: 25px;
  }
}
